body {
    background: #ebf2f8;
}

.bg-darkblue{
    background-color: #34495E;
}

.bg-darkerlight {
    background-color: #e9ecef;
}

.text-darkerlight {
    color: #e9ecef;
}

.donationitem {
    width: 50%;
}


.rounded {
    border-radius: 7px;
}

.textright {
    text-align: right;
}

.shiftdown {
    margin-top: 6px;
}

.nomargin {
    margin: 0 !important;
}

.padding {
    padding: 15px;
}

.center {
    margin: auto;
}

footer {
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    width: 100%;
}


.orgcard-outer {
    width: 23%;
    display: inline; 
    float: left;
    margin: 1%;
}

.orgcard-inner {
    color: whitesmoke;
    background-color: #28a745;
    padding: 4px;
    text-align: center;
    height: 22vh;
    transition: background 0.2s ease-in-out;
}

.orgcard-img {
    margin-bottom: 6px;
    max-height: 10vh;
    max-width: 100%;
}

.orgcard-inner:hover {
    background-color: #30c552;
    color: white;
}